@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500;700&display=swap');

$primary: '#48191f' !default;
$secondary: '#26A69A' !default;
$accent: '#194842' !default;

$dark: '#3a3939' !default;
$dark-page: '#3a3939' !default;

$positive: '#21BA45' !default;
$negative: '#C10015' !default;
$info: '#31CCEC' !default;
$warning: '#F2C037' !default;

$typography-font-family: 'Roboto Condensed', sans-serif;